body {
    font-family: Arial, sans-serif;
    background-color: #dcffed;
    margin: 0;
    padding: 0;
    color: #fff;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #1b7340;
}

header h1 {
    font-size: 20px;
}

.search-box input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.button-primary {
    background-color: #ffb800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container {
    max-width: 1200px;
    background-color: #289c58;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.form-container .form-section {
    flex: 1;
    margin-right: 20px;
}

.form-container img {
    width: 550px;
    height: 550px;
    border-radius: 7px;
    
}

.form-group {
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-secundy {
    background-color: #ffb800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group .button-primary {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
}


.form-text {
    display: flex;
    
}

footer {
    background-color: #166d38;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}