body {
    font-family: Arial, sans-serif;
    background-color: #dcffed;
    margin: 0;
    padding: 0;
    color: #fff;

}
header .logo {
    height: 100px; /* Aumente a altura conforme desejado */
    width: auto; /* Mantém a proporção da imagem */
    margin-right: 15px; /* Espaço entre a logo e o título */
}

header {
    background: linear-gradient(150deg, #1EA665, #014950);
    color: white;
    padding: 8px;
    margin-bottom: 10%;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




#logo-empresa-inicial{
    width: 30%;
}

.search-box input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.button-primary {
    background-color: #ffb800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container {
    max-width: 1200px;
    background: linear-gradient(150deg, #1EA665, #014950);
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.form-container .form-section {
    flex: 1;
    margin-right: 20px;
}

.form-container img {
    width: 550px;
    height: 550px;
    border-radius: 7px;
    
}

.form-group {
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-secundy {
    background-color: #ffb800;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group .button-primary {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
}


.form-text {
    display: flex;
    
}

.logo-empresa-final{
    width: 20%;
}

.footer-web {
    background: linear-gradient(150deg, #1EA665, #014950);
    width: 100%;
    height: 130px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

.social-media-footer {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px;
}

.footer-links {
    width: calc(100vw - 40%);
    display: flex;
    justify-content: space-between;
}

.footer-links-box {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-links-title{
    color: black;
}

.footer-links-contents { 
    text-decoration: none;
    color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    header nav {
        flex-direction: column;
        margin: 0;
    }

    header nav a {
        margin: 10px 0;
    }

    header input {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .editar-perfil {
        padding: 20px;
        max-width: 100%;
    }

    .form-row {
        flex-direction: column;
    }

    .footer-web {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links-box {
        text-align: center;
    }
}
